--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.11.0+cu113
torchvision==0.12.0+cu113
tensorflow_cpu==2.7.0
einops==0.4.0
git+https://github.com/wandb/pytorch-lightning.git@wandb-service-attach
wandb[service]==0.12.9
setuptools==59.5.0  # downgrade required to avoid a pytorch bug patched after 1.10.0
moviepy==1.0.3
protobuf==3.20